.containerForm {
  margin: 32px 24px;
  padding: 64px 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.containerButtons {
  display: flex;
  margin-top: 64px;
  justify-content: space-between;
}

.tipsUsername {
  font-size: 13.5px;
}

.tipsUsername p {
  margin-bottom: 6px;
}

.tipsIcon {
  margin-right: 6px;
}

.modalMessage p {
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
}

.modalMessage .modalMessageAlert {
  font-weight: 600;
  font-size: 18px;
}

.buttonModal {
  color: #fff;
  transition: 0.3s all;
  background-color: #BFB372;
  border: 1px solid #BFB372;
}

.buttonModal:hover {
  color: #BFB372;
  background-color: #fff;
}