.containerTable {
  margin: 32px 24px 0;
}

.csvButton {
  border: none;
  display: block;
  font-weight: 700;
  padding: 8.9px 16px;
  border-radius: 4px;
  background-color: transparent;
}

.csvButton:hover, .csvButton:focus {
  cursor: pointer;
}

.exportButton {
  color: #fff !important;
  display: block;
  font-size: 14px;
  line-height: 14px;
  transition: 0.3s all;
  background-color: #0b0b0b !important;
  border: 1px solid #0b0b0b !important;
}

.exportButton:hover {
  color: #0b0b0b !important;
  background-color: #fff !important;
  border: 1px solid #0b0b0b !important;
}

.iconPadding {
  padding-right: 8.9px;
}