.containerForm {
    margin: 32px 24px;
    padding: 64px 32px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-flow: column wrap;
}

.InputWithButton {
    width: calc(100% - 32px) !important;
}

.containerTableMedia, .containerTableTopics, .containerTableLink {
    width: 500px;
    margin-bottom: 24px;
}

.containerTableLink {
    margin-top: 12px;
}

.tableMedia, .tableTopic, .tableLink {
    width: 100%;
    border-radius: 4px;
    background-color: #E5E5E5;
}

.tdMediaUrl {
    max-width: 300px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.iconMedia {
    font-size: 16px;
}

.iconMedia:hover {
    cursor: pointer;
}

.iconMediaDisabled {
    font-size: 16px;
}

.iconMediaDisabled:hover {
    cursor: not-allowed !important;
}

.tableMedia th, .tableTopic th, .tableLink th {
    padding: 6px 12px;
    text-align: left;
}

.tableMedia td, .tableTopic td, .tableLink td {
    padding: 6px 12px;
    text-align: left;
}

td.descriptionTopic {
    max-width: 200px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td.createTopic {
    text-align: center;
    font-weight: 500;
}

td.errorGetTopics {
    text-align: center;
    font-weight: 500;
    color: #FF4D4F;
}

td.createTopic:hover {
    cursor: pointer;
}

.modalViewImage {
    width: 100%;
}

.modalViewImage span, .modalViewImage p {
    font-size: 16px;
}

.modalViewImage span {
    font-weight: bold;
}

.modalViewImage img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.containerTableTopics > p, .modalDescriptionTopic p {
    font-size: 14px;
    margin-bottom: 6px;
}

.containerIconDeleteLink {
    width: 62.66px;
}
