.containerTable {
  margin: 32px 24px 0;
}

.iconUpdate svg {
  color: #FAAD14;
}

.iconDelete svg {
  color: #FF4D4F;
}

.messageModalDelete {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.messageModalDelete svg {
  width: 50px;
  height: 50px;
  color: #d14605;
}

.messageModalDelete p {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 0;
  text-align: center;
}

.buttonDeleteCancel {
  color: #BFB372;
  transition: 0.3s all;
  background-color: #fff;
  border: 1px solid #BFB372;
}

.buttonDeleteCancel:hover {
  color: #fff;
  background-color: #BFB372;
}

.buttonConfirm {
  color: #fff;
  margin-left: 24px;
  transition: 0.3s all;
  background-color: #BFB372;
  border: 1px solid #BFB372;
}

.buttonConfirm:hover {
  color: #BFB372;
  background-color: #fff;
}

.modalMessageAlert {
  font-weight: 600;
  font-size: 18px;
}