.containerForm {
  margin: 32px 24px;
  padding: 64px 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.previewImg {
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #D9D9D9;
  color: #D9D9D9;
  border-radius: 4px;
  margin-bottom: 24px;
  overflow: hidden;
}

.errorImgUrl {
  width: 100%;
  height: 145px;
  display: flex;  
  align-items: center;
}

.previewImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.switch{
  flex-flow: row nowrap !important;
}
