.ant-design-pro {
  min-height: 100vh;
}

.ant-pro-global-header {
  background-color: #BFB372;
  box-shadow: none;
}

.ant-layout-sider {
  z-index: 2;
  background: #fff;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  box-shadow: -5px 0px 24px 0px rgb(0, 0, 0);
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark
.ant-menu-sub {
  background: #fff;
}

.ant-menu-title-content {
  color: #0b0b0b;
}

.ant-menu-dark .ant-menu-item:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-item-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-title:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-item:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-item-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-title:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before {
  background-color: #0b0b0b;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
  color: #0b0b0b;
  font-weight: 500;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #0b0b0b;
}

.ant-menu-dark .ant-menu-item-selected > a,
.ant-menu-dark .ant-menu-item-selected > span > a,
.ant-menu-dark .ant-menu-item-selected > a:hover,
.ant-menu-dark .ant-menu-item-selected > span > a:hover {
  color: #0b0b0b;
  font-weight: 800;
}

.ant-menu-dark
.ant-menu-item:hover,
.ant-menu-dark .ant-menu-item-active,
.ant-menu-dark .ant-menu-submenu-active,
.ant-menu-dark .ant-menu-submenu-open,
.ant-menu-dark .ant-menu-submenu-selected,
.ant-menu-dark .ant-menu-submenu-title:hover {
  color: #0b0b0b;
  font-weight: 800;
  background-color: #fff;
}

.ant-menu-dark .ant-menu-item:hover > a, .ant-menu-dark .ant-menu-item-active > a, .ant-menu-dark .ant-menu-submenu-active > a, .ant-menu-dark .ant-menu-submenu-open > a, .ant-menu-dark .ant-menu-submenu-selected > a, .ant-menu-dark .ant-menu-submenu-title:hover > a, .ant-menu-dark .ant-menu-item:hover > span > a, .ant-menu-dark .ant-menu-item-active > span > a, .ant-menu-dark .ant-menu-submenu-active > span > a, .ant-menu-dark .ant-menu-submenu-open > span > a, .ant-menu-dark .ant-menu-submenu-selected > span > a, .ant-menu-dark .ant-menu-submenu-title:hover > span > a {
  color: #0b0b0b;
  font-weight: 800;
}

.ant-pro-sider-logo {
  padding: 2px 16px;
  justify-content: center;
}

.ant-pro-sider-logo img {
  width: 44px;
  height: 44px;
}

.ant-pro-sider.ant-layout-sider-collapsed .ant-pro-sider-logo {
  padding: 2px 8px;
}

.ant-layout-content {
  margin: 0;
  padding-bottom: 24px;
  height: 100% !important;
  background-color: #D6D6D6;
  width: calc(100% - 208px) !important;
  align-self: flex-end;
}

.ant-page-header {
  background-color: #fff;
  padding: 24px 24px 18px !important;
}

.ant-page-header-heading-title {
  font-weight: 700;
  line-height: 28px;
  color: #0b0b0b;
}

.ant-breadcrumb-link {
  color: #0b0b0b;
  font-weight: 500;
}

.ant-pro-table-search {
  border-radius: 4px;
  margin-bottom: 32px !important;
}

.ant-table-container {
  overflow: auto;
}

.ant-row .ant-form-item {
  flex-flow: column wrap;

}
.ant-col .ant-form-item-label {
  flex: none !important;
  font-weight: 600;
}

.ant-form-item-label > label {
  width: 100%;
}

.ant-col .ant-form-item-control {
  max-width: 100% !important;
}

.ant-pro-table .ant-card {
  border-radius: 4px;
}

.ant-pro-table .ant-pro-table-list-toolbar-container {
  padding: 18px 24px;
}

.ant-pro-table .ant-card .ant-card-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.ant-table-thead tr th {
  font-weight: 600;
  padding: 10px 0 10px 24px !important;
  background-color: rgba(0, 0, 0, .03);
}

.ant-table-tbody tr td {
  padding: 8px 24px !important;
}

.ant-pagination {
  padding: 0 24px !important;
  float: right !important;
}

.atn-btn {
  font-weight: 600;
}

.ant-input-affix-wrapper, .ant-btn {
  border-radius: 4px;
}

#create-administrator-form,
#create-freepost-form,
#type-exclusive-post-form,
#create-exclusive-post-content,
#create-exclusive-post-survey {
  width: 500px;
}

#create-administrator-form .ant-row,
#create-administrator-form .ant-form-item
#create-freepost-form .ant-row,
#create-freepost-form .ant-form-item,
#type-exclusive-post-form .ant-row,
#type-exclusive-post-form .ant-form-item,
#create-exclusive-post-content .ant-row,
create-exclusive-post-content .ant-form-item,
#create-exclusive-post-survey .ant-row,
#create-exclusive-post-survey .ant-form-item,
#register-link .ant-row,
#register-link .ant-form-item
 {
  flex-flow: column wrap;
}

.anticon-check-circle svg {
  color: #018942;
}

.anticon-close-circle {
  color: #d14605;
}

#create-freepost-form .ant-row,
#create-freepost-form .ant-form-item {
  margin-bottom: 24px;
}

#form-auth, #form-password-recovery {
  width: 402px;
  max-width: 402px;
  min-width: 402px;
}

#form-auth input, #form-password-recovery input {
  font-size: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#form-auth .anticon svg, #form-password-recovery .anticon svg {
  font-size: 18px;
}

#form-auth .ant-form-item-explain-error, #form-password-recovery .ant-form-item-explain-error {
  color: #0b0b0b;
}

.ant-pro-sider-links {
  display: none;
}

#alert-error-auth > .ant-alert {
  &.ant-alert-error {
    width: 402px;
    max-width: 402px;
    margin-bottom: 24px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;

    .anticon {
      margin-top: 4px;
    }

    .ant-alert-content {
      .ant-alert-message {
        color: #fff;
      }
    }

    .ant-alert-close-icon > span > svg {
      color: #fff;
    }
  }
}

.anticon .iconMediaDisabled {
  cursor: not-allowed !important;
}

.ant-alert-message {
  color: #D6D6D6;
}

.ant-empty ,ant-empty-description {
  color: #bdbdbd;
  font-weight: bold;
}


.ant-picker-input .ant-picker-suffix svg,
.ant-picker-input .ant-picker-clear svg {
  width: 20px;
  height: 20px;
  color: #BFB372;
}